.myposts {}

.item {
  display: flex;
  align-items: flex-end;
  color: red;
}

.item h5 {
  margin: 0;
}

.iconpost {
  border-radius: 100%;
  width: 45px;
  height: 45px;
  background-color: #FFC82C;
}