
.content {
    grid-area: c;
    background-color:#E3F480;
  }

  .content img{
    width: 100%;
    height: 200px;
  }
  .avatar img{
    width: auto;
    height: 80px;
    border: 2px solid black;
  }
